PORT=8080
POSTGRES_HOST=localhost
POSTGRES_USER=User
POSTGRES_PASSWORD=Password
POSTGRES_DB=DatabaseName
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}