services:
  db:
    image: postgres:15
    container_name: UIUMarketplace_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/schemas/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro

volumes:
  postgres_data: